body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #000;
    color: #fff;
    overflow-x: hidden;
}

.center-screen{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(images/question-box.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.question-box{
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px #ff77cd;
}

.question-box button{
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #ff77cd;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.question-box button:hover{
    transform: scale(1.1);
}

.hidden{
    display: none;
}

.fade-out{
    opacity: 0;
    transition: opacity 1s ease;
}
.main-gift{
    background: url(images/main-background.jpg)no-repeat center fixed;
    background-size: cover;
}

.flower-btn{
    padding: 15px 30px;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 20px #ff77cd;
    cursor: pointer;
    transition: 0.3s ease,
    background-color 0.3s ease;
}
.flower-btn:active{
    background-color: hotpink;
    transform: scale(0.95);
}
.fade-out-btn{
    opacity: 0;
    transition: opacity 1s ease;
}
.hidden-btn{
    display: none;
}
.typed-text{
    text-align: center;
    margin: 30px;
    font-size: 24px;
    color: #ff8ad6;
    font-family: cursive;
}
.scroll-area{
    padding: 40px;
}
.photo-messages{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.photo-messages img{
    height: 1000px;
    width: auto;
    border-radius: 15px;
    animation: slideBy both;
    animation-timeline: view(70% 30%);
}
.photo-messages p{
    font-size: 20px;
    font-family: lucida sans;
    animation: slideBy both;
    animation-timeline: view(60% 0%);
}
.voice-message{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: slideBy both;
    animation-timeline: view(60% 0%);
}
.voice-message h2{
    font-family: verdana;
}
.why-love {
    font-size: 20px;
    font-family: lucida sans;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    animation: slideBy both;
    animation-timeline: view(60% 0%);
}
.languages{
    font-size: 20px;
    font-family: lucida sans;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    animation: slideBy both;
    animation-timeline: view(60% 0%);
}
@keyframes slideBy{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }
    
    to{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
@media(max-width:780px){
    .question-box{
        width: 90%;
        padding: 20px;
    }
    .question-box h1{
        font-size: 1.4rem;
    }
    .question-box button{
        width: 100%;
        font-size: 1rem;
    }
    .typed-text{
        font-size: 1.2rem;
        padding: 10px;
        text-align: center;
    }
    .scroll-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .photo-messages img{
        width: 80%;
        height: auto;
        border-radius: 10px;
    }
    .photo-messages p{
        font-size: 1rem;
        padding: 0 10px;
        line-height: 1.6;
    }
    .voice-message{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .voice-message audio{
        width: 90%;
    }
    .voice-message h2,
    .why-love h2,
    .languages h2{
        font-size: 1.5rem;
        padding: 0 10px
    }
    .why-love p,
    .languages p{
        font-size: 1rem;
        padding: 0 15px;
        line-height: 1.6;
    }
    .flower-btn{
        width: 80%;
        font-size: 1rem;
    }
}